@use 'variables' as *;
@use 'default' as *;

.loading-portfolio-about{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 62.5rem;
    margin: auto;
    

    .about-collage-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;

        img{
           
            border-radius: 0.50rem;
            margin: 0.50rem auto;
            width: 25rem;
           
        }
    }
    @media screen and (min-width: 710px){
        .about-collage-section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

            img{
              margin: 0.50rem auto;
              width: 20rem;
            }
          
        }
    }
}

.bio-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 62.5rem;
    margin: auto;
   

    img{
        margin: 3rem auto;
        width: 25rem;
        max-width: 100%;
        border-radius: 0.50rem;
    }
   
} 
.skills-title{
    display: flex;
    align-items: center;
    margin: 1rem;

    h2{
        margin-right: 14rem;
    }
}  
.filter-section{
    display: flex;
    justify-content: center;
    margin: 1rem;

    ul{
        display: flex;
        list-style: none;
    }

    li{
        margin: 0 0.5rem;
    }
}
.skills-container {
  
  }

  .skills-container ul {
    margin: 0.5rem;
  }
  
  .facts-section {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    .facts-wrapper{
        margin-bottom: 20px;

            dl {
                    border-bottom: 1px solid #ccc;
                    padding: 10px 0;
                  }
                  
                  dt {
                    font-weight: bold;
                    cursor: pointer; 
                  }
                  dt:hover{
                    color: #D4B2A7;
                  }
                  
                  dd {
                    display: none; 
                   
                  }
                  dd{
                    display: block;
                    
                    margin: 1rem;
                }
    }

  }


.techstack-section {
    margin: -1rem;
    padding: 1rem;
   
   
    .filter-section {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
  
        .filter-buttons {
          cursor: pointer;
          padding: 10px;
          margin-right: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #E7D7C9;
  
          &.active {
            background-color: #D4B2A7;
            color: white;
          }
        }
      }
    }

       
  
   
    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
        box-shadow: rgba(212, 178, 167) 0px 5px 15px;
        border-radius: 0.50rem;
      ul {
        list-style: none;
        padding: 0;
      
        margin: 0.5rem;
  
        &.hidden {
          display: none;
         
        }
  
        li {
          padding: 10px;
          
          margin: 5px 0;
      
          background-color: #E7D7C9;
          border: 1px solid #ccc;
          border-radius: 0.50rem;
        }
      }
     
    }
    @media screen and (min-width: $desktop-small){
        .skills-container{
            margin: 1rem;
        }
      }

dd{
    display: block;
    margin: 1rem;
}
.about-collage-section{
   display: flex;
   justify-content: center;
   margin: 1rem;

   img{
    width: 100%;
    margin: 0.5rem;
   }
}

}
@media screen and (max-width: $mobile){
  #main{
      overflow-x: hidden;
  }
}

  