// Default Styles
@use 'variables' as *;
@use 'typography' as *;
// #main{
//     padding-bottom: 5rem;
// }

h1, h2{
    font-family: 'Gelasio', serif;
    font-weight: 500;
    font-size: 1.75rem;
}
h3{
    font-family: 'Gelasio', serif;
    font-weight: 400;
    font-size: 1.5rem;
}
h4{
    font-family: 'Gelasio', serif;
    font-weight: 400;
    font-size: 1.25rem;
}


p, li, a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
dl{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
dd{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.75rem;
}
p{
    line-height: 1.75rem;
}


