@use 'variables' as *;


nav {
    position: fixed;
    
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EDE9E3; 
    border-top: 1px solid #ccc; 
    font-size: 1.15rem;
    padding: 1rem 0;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

li {
    display: inline-block;
    margin: 0 1.75rem;
}

a {
    text-decoration: none;
    color: #333; 
}

nav a:hover,
    .active{
        color: #D4B2A7;
    }

@media (min-width: $tablet-large){
    nav{
        border: none;
    
        
position: static;

        ul{
          text-align: end;
        }

  
    }

    header{
        // text-align: end;
        position: sticky;
        top: 0;
        // border: none;
        width: 100%;
        width: auto;
        padding: 0;
        z-index: 1000;
        background-color: transparent;
    }
   
}
    


