@font-face{
    .gelasio-regular {
        font-family: "Gelasio", serif;
        font-weight: 400;
        font-style: normal;
      }
      
}
@font-face{
    .gelasio-medium {
        font-family: "Gelasio", serif;
        font-weight: 500;
        font-style: normal;
      }
}
@font-face{
    .gelasio-semibold {
        font-family: "Gelasio", serif;
        font-weight: 600;
        font-style: normal;
      }
}
@font-face{
    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
}
@font-face{
    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
}
@font-face{
    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
}
  
 