
//Colours
$buttons-color: #D4B2A7;
$body-background: #EDE9E3;


//Break Points
$mobile: 21.875em; // 350px
$tablet-small: 31.25em; // 500px
$tablet-large: 44.375em; // 710px
$desktop-small: 59.5em; // 952px
$desktop-large: 64em; // 1024px