//Typography


//Colours
// $body-background: #f5f3ef;
$buttons-color: #D4B2A7;
$body-background: #EDE9E3;


//Break Points
$mobile: 20.625em; // 330px
$tablet-small: 31.25em; // 500px
$tablet-large: 44.375em; // 710px
$desktop-small: 48.125em; // 770px
$desktop-large: 64em; // 1024px